.btn {
  appearance: none;
  margin: 0;
  padding: 0 0.5em;
  border: 0;
  font-size: 1.2rem;
  background-color: transparent;
  transform-origin: center;
  font-family: 'Fira Code', monospace;

  &:focus {
    outline: transparent;
  }

  &--is-expanded {
    padding: 0.5em 0;
    transform: rotate(90deg);
    transform-origin: 60% 55%;
  }
}
