.container {
  $self: &;
  margin-top: 0;
  margin-left: 2rem;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Fira Code', monospace;

  &__item {
    &::before {
      content: '"';
    }
    &::after {
      content: '",';
    }
  }

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }

  &--vertical {
    #{$self}__item {
      margin-left: 2rem;
    }
  }

  &--horizontal {
    #{$self}__item {
      display: inline;
    }
  }

  &--is-shrunk {
    display: flex;
  }
}
