.container {
  font-family: 'Fira Code', monospace;

  &::before {
    content: '{';
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  &::after {
    content: '}';
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}
