@import url('https://fonts.googleapis.com/css?family=Anton|Arvo&display=swap');

$breakpoint-mobile-portrait: 320px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-between-mobile-tablet: 628px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-desktop: 1200px;

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: $breakpoint-tablet-portrait) {
      @content;
    }
  } @else if $size == phone-portrait-only {
    @media (max-width: $breakpoint-mobile-portrait + 1px) {
      @content;
    }
  } @else if $size == landscape-mode-only {
    @media screen and (min-width: 320px) and (min-height: 300px) and (max-width: 823px) and (max-height: 415px) and (orientation: landscape) {
      @content;
    }
  } @else if $size == tablet-phone-only {
    @media (max-width: $breakpoint-desktop) {
      @content;
    }
  } @else if $size == mobile-landscape-up {
    @media (min-width: $breakpoint-mobile-landscape) {
      @content;
    }
  } @else if $size == between-mobile-tablet-up {
    @media (min-width: $breakpoint-between-mobile-tablet) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: $breakpoint-tablet-portrait) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: $breakpoint-tablet-landscape) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }
}
