:root {
  --main-theme-color: #ffffff;
  --main-text-color: #000000;
}

html,
body {
  margin: 0;
  background-color: var(--main-theme-color);
  font-family: 'Arvo', sans-serif;
  cursor: none;
}

html {
  width: 100vw;
  height: 100vh;

  @include for-size(landscape-mode-only) {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

body {
  width: 100%;
  height: 100%;
}

button,
input {
  font-family: 'Muli', sans-serif;
  color: var(--main-text-color);
  cursor: none;
}

a,
a:active,
a:visited {
  color: var(--main-text-color);
  text-decoration: none;
  cursor: none;
}

.hidden-on-landscape {
  display: none;

  @include for-size(landscape-mode-only) {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
      transform: rotate(90deg);
    }

    &__heading {
      margin: 0;
      line-height: 1;
    }

    &__helper-text {
      font-size: 12px;
      margin: 0;
    }
  }
}

.on-develop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section {
  max-height: 100vh;
  min-height: 480px;
  height: 100%;
  width: 100%;
}
