:root {
  --main-theme-color: #ffffff;
  --main-text-color: #000000;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-theme-color);
  font-family: 'Anton', sans-serif;
}

button,
input {
  font-family: 'Arvo', serif;
  color: var(--main-text-color);
}

a,
a:active,
a:visited {
  color: var(--main-text-color);
  text-decoration: none;
}
