@import '../../sass/base';

.layer {
  position: absolute;
  width: 100%;
  height: 100%;

  &__background {
    z-index: 0;
  }

  &__boxes {
    z-index: 10;
  }

  &__photo {
    z-index: 20;
  }

  &__title {
    z-index: 30;
  }
}

.box {
  $self: &;
  position: absolute;

  &__one {
    bottom: 8%;
    left: 40%;
  }

  &__two {
    bottom: 1%;
    left: 50%;
  }

  &--is-big {
    width: 40vw;
    height: 60vh;
  }

  &--is-small {
    width: 10vw;
    height: 10vw;
  }

  &--is-medium {
    width: 20vw;
    height: 20vw;
  }

  &--with-border {
    border: 2px solid black;
  }

  &--is-white {
    background-color: white;

    #{ $self }--with-border {
      border: 2px solid black;
    }
  }

  &--is-black {
    background-color: black;

    #{$self}--with-border {
      border: 2px solid white;
    }
  }
}

.photo {
  &__container {
  }
}

.title {
  &__container {
  }
}
