@import '../../sass/base';

.content {
  position: relative;
  width: 95%;
  margin: 0 auto;
  padding: 3rem 0;

  @include for-size(mobile-landscape-up) {
    width: 80%;
  }

  @include for-size(tablet-portrait-up) {
    width: 60%;
  }

  @include for-size(desktop-up) {
    padding: 10rem 0;
    font-size: 1.1rem;
  }
}
