.theme-settings {
  position: fixed;
  display: inline-flex;
  top: 0;
  left: 0;

  &__button {
    position: relative;
    appearance: none;
    margin: 1em 0.5em;
    background-color: transparent;
    border: 0;
    font-size: 0.8em;
    cursor: pointer;
    outline: none;
  }

  &__picker {
    position: absolute !important;
  }
}
