.stl {
  font-family: 'Muli', sans-serif;
  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-content: center;
  grid-gap: 2em;

  &__header {
    position: fixed;
    width: 400px;
    height: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__link {
    $linkSelf: &;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    color: var(--main-text-color);
    font-size: 1.2em;
    line-height: 2;
    text-align: center;
    cursor: pointer;

    &--is-active {
      position: relative;
      &:visited {
        color: var(--main-text-color);
      }
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 6px;
        left: 0;
        background-color: var(--main-text-color);
      }
    }

    &__animated-box {
      #{$linkSelf}:hover > & {
        // animation: downToTopAnimation 0.4s ease;
      }
    }

    &:hover {
      // color: var(--main-theme-color);
    }
  }
}

@keyframes downToTopAnimation {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0);
  }
}
