@import '../../sass/base';

.stl {
  display: grid;
  position: fixed;
  grid-gap: 1em;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 50px;
  margin-bottom: 50px;

  &__container {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;

    @include for-size(mobile-landscape-up) {
      width: 400px;
    }
  }

  &__heading {
    text-align: center;
  }

  &__text {
    font-family: 'Arvo', serif;
  }
}
