@import '../../sass/base';

.stl {
  width: 100%;

  &__container {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;

    @include for-size(mobile-landscape-up) {
      width: 400px;
    }
  }

  &__heading {
    text-align: center;
  }

  &__text {
    font-family: 'Arvo', serif;
  }
}
